__pycache__/
*.py[cod]
*.pyo
.env
.venv
.venv_win/
venv/
venv_linux_backup/
env/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
*.log
logs/
*.sqlite3
private.pem
public.pem
app/static/uploads/
