@import "tailwindcss";

@theme {
  --color-navy: #1A2B3C;
  --color-amber: #F2994A;
  --color-surface: #F8F9FA;
  --font-inter: "Inter", sans-serif;
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-surface);
  color: var(--color-navy);
}
